.country-card {
  padding-left: 10px;
  border-bottom: 3px solid white;
  cursor: pointer;
}

.country-card h3 {
  font-family: "League Gothic", sans-serif;
  /* font-weight: bold; */
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 25px;
  color: #01aeb9;
}

.country-card .statistics p {
  font-family: "PT Serif", serif;
  font-size: 18px;
}

.country-card .statistics .cases {
  margin-top: 3px;
  margin-bottom: 0;
  color: rgb(255, 179, 0);
}

.country-card .statistics .deaths {
  margin-top: 1px;
  margin-bottom: 0px;
  color: red;
}
